.ex-answer--second__desc .box {
    width: 20rem;
    height: 30rem;
    background-color: #ffa400;
    border: 0.1rem solid rgb(255,255,0);
    border-radius: 0.4rem;
    padding: 1rem;
    margin: 1.5rem;
    text-align: center;
}